.quizz__container{
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.quizz_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

  h3{
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}


.quizz_questions{
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #4224d9;
  border-radius: .7rem;
  background-color: #644ED2;
  width: 100%;
  height: 10rem;
  font-size: 1.3rem;
  font-family: 'Segoe UI';
  margin-bottom: 2rem;
  text-align: center;
}

.quizz_options{
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
}

.btn-option{
  background-color: transparent;
  border-radius: .7rem;
  border: 1px solid #18ab29;
  width: 45%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-option:hover{
  transition: .3s ease-in-out;
  background-color: #5cbf2a;
}

.btn-option:active{
  position: relative;
  top:1px;
}


.quizz_results{
  width: 100%;
  background-color: #1F0539;
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    
    li {
      text-align: center;
      border: 2px solid #644ED2;
      border-radius: .7rem;
      padding: 1rem;
      color: #ffffff;
    }
  }
}
