/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  color:antiquewhite;
}

body{
  background-color: #1F1147;
}
